* {
    box-sizing: border-box;
}

body {
    margin: 0 5%;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    margin-bottom: 15px;
    padding: 5px 5px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow:hidden

}

.event_component {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    border: solid 1px;
    min-width: 25%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.radio-group {
    margin: 10px 0;
}

.radio-label {
    margin-left: 5px;
    margin-right: 20px;
}